{% extends "base.html" %}

{% block title %}Dashboard Admin{% endblock %}

{% block content %}
<h2>Dashboard do Administrador</h2>

<form method="get" class="mb-3">
    <input type="text" name="cpf" class="form-control" placeholder="Buscar por CPF">
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Conta</th>
            <th>Saldo</th>
            <th>Administrador</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.nome }}</td>
            <td>{{ u.cpf }}</td>
            <td>{{ u.agencia }}-{{ u.conta }}</td>
            <td>R$ {{ u.saldo }}</td>
            <td>{{ 'Sim' if u.admin else 'Não' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
